{% extends "base.html" %} 
{% block title %} Последние обновления на сайте{% endblock %}
{% block header %} Последние обновления {% endblock %}
{% load cache %}
{% cache 10 index_page %}
{% block content %}
    <div class="container">
           {% for post in page %}
           {% include "post_item.html" with post=post %}
           {% endfor %}
    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
{% endblock %}
{% endcache %}